<div class="flex flex-col items-center my-16">
<h2 class="text-xl text-sky-400 font-semibold">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "mt-2 w-56 p-1 rounded" %>
  </div>

  <div class="field mt-3">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, class: "mt-2 w-56 p-1 rounded" %>
  </div>
  
  <div class="field mt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 w-56 p-1 rounded" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "mt-2 w-56 p-1 rounded" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-2 w-56 p-1 rounded" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "bg-sky-400 p-2 rounded text-slate-50 mt-4" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
