<div class="flex flex-col items-center mb-6">

  <div class="flex">
    <%= image_tag @group.icon, alt: 'icon', class: "w-40" %>
    <p><%= @group.name %></p>
  </div>

  <p>Total Payment <%= @total_amount %></p>

  <% @expenses.each do |expense| %>
  <div class="mt-6">
    <p>Transaction <%= expense.name %> </p>
    <div class="flex mt-4 gap-2">
      <%= image_tag ('calender-icon.png'), class: "w-5" %>
      <p><%= expense.created_at.strftime('%d %h %Y') %></p>
    </div>

    <div class="flex mt-4 justify-between">
      <p>Payment</p>
      <p>$<%= expense.amount %></p>
  </div>
  </div>
  <% end %>

  <%= link_to 'Add new transaction', new_group_expense_path, class: "bg-sky-400 p-2 rounded text-slate-50 mt-6" %>

</div>